<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col"><%= Profile.human_attribute_name(:name) %></th>
      <th scope="col"><%= Profile.human_attribute_name(:github_url) %></th>
      <th scope="col"><%= t("#{translation_scope}.actions") %></th>
    </tr>
  </thead>

  <tbody id="profiles">
    <% @profiles.each do |profile| %>
      <%= render 'row', profile: profile, translation_scope: translation_scope %>
    <% end %>
  </tbody>
</table>
