<%= turbo_frame_tag 'message' do %>
  <% if notice.present? %>
    <p style="color: green"><%= notice %></p>
  <% end %>

  <% if alert.present? %>
    <p style="color: red"><%= alert %></p>
  <% end %>
<% end %>
